---
// src/layouts/MainLayout.astro
const { title } = Astro.props;
---

<!doctype html>
<html lang="si">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>{title}</title>
        
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#d97706">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="bg-orange-50 text-gray-900 min-h-screen">
		<slot />
	</body>
</html>
